body {
  margin: 0;
}

.container {
  width: 100%;
}

.container img {
  width: 100%;
  height: 155px;
  position: absolute;
  top: 0;
  left: 0;
}

.float-end {
  position: absolute;
  right: 0;
  top: 0;
  margin: 24px 100px 10px 0px;
}

.float-end img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 10%;
  right: 0;
}

.iconoPage {
  margin: all;
  width: 158px;
  height: 130px;
  float: left;
  margin-right: 50px;
  position: absolute;
  top: 0;
  left: 48px;
}

.navbar {
  --bs-bg-opacity: 0;
  margin-top: 153px;
}

.offcanvas {
  left: 0;
  background-color: #ffca8c;
}

.offcanvas-header {
  position: absolute;
  right: 0;
}

.d-flex {
  margin-top: 3rem !important;
}

.navbar-nav {
  padding-top: 12px;
}
