
body{
    margin: 0;
}

.container{
    	width: 100%;
        /* position: fixed; */
}

.container img{
    width: 100%;
    height: 150px;
}

.float-end {
    margin: 20px 20px 0px 0px;
}

.float-end img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 7%;
    right: 1%;
 }

 .iconoPage{
    position: absolute;
    top: 0;
    left: 0;
 }