@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");

body {
  margin: 0;
}

.container {
  width: 100%;
}

.container img {
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
}

.float-end {
  position: absolute;
  right: 0;
  top: 0;
  margin: 24px 100px 10px 0px;
}

.float-end img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15px;
  right: 0;
}

.iconoPage {
  margin: all;
  width: 158px;
  height: 130px;
  float: left;
  margin-right: 50px;
  position: absolute;
  top: 0;
  left: 48px;
}

.navbar {
  --bs-bg-opacity: 0;
  margin-top: 124px;
}

.offcanvas {
  left: 0;
  background-color: #ffca8c;
}

.offcanvas-header {
  position: absolute;
  right: 0;
}

.d-flex {
  margin-top: 3rem !important;
}

.navbar-nav {
  padding-top: 12px;
}

.navbar-toggler {
  border: 0;
}

.form-control {
  background-color: #fff3cd;
}

.gestion {
  width: 120px;
  height: 34px;
  background: #d8af97;
  border-radius: 5px;
  margin-top: 45px;
}

.form-control {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
}

.gestion p {
  text-align: center;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  margin-left: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
  margin-top: 3px;
}

.atencion {
  width: 120px;
  height: 34px;
  background: #d8af97;
  border-radius: 5px;
  margin-top: 10px;
}

.atencion p {
  text-align: center;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
}
