@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.btnNuevoRegistro{
    background-color: #D35400;
    position: absolute;
    left: 10%;
    top: 30%;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.btnNuevoRegistro svg{
    width: 18px;
    height: 18px;
}

.tablaNuevosRegistros{
    position:absolute;
    top: 40%;
    left: 10%;
}

table {
	border-collapse: collapse;
    border: 1px solid black;
	width: 80%;
}

th, td {
	text-align: left;
    border: 1px solid black;
	padding: 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

th {
	background-color: #D9D9D9;
	color: black;
}

tr:nth-child(even) {
	background-color: #D9D9D9;
}

.campoNuevoUsuario{
    border-radius: 5px;
}