<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="shortcut icon" href="/image/icon_page.png" type="image/x-icon" />
    <title>Home</title>
  </head>

  <body>
    <!--Cabecera header-->
    <header class="container">
      <img src="/image/home.png" alt="image_home" />

      <div class="iconoPage">
        <img src="/image/icon_page.png" alt="icono" id="icono" />
      </div>
    </header>

    <!--Logo del login-->
    <div>
      <div class="float-end">
        <a href="/cartaDigital.html"
          ><img src="/image/user_login.png" alt="user_login"
        /></a>
      </div>
    </div>
  </body>
</html>
